/node_modules
**/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer

backend/.dev-backend.pid
backend/.dev-backend.stdout.log
backend/.dev-backend.stderr.log

